:root{
  --background-dark: black;
  --background-light: white;
}
.body-dark{
  background-color: var(--background-dark);
  color: white;
}
.body-light{
  background-color: var(--background-light);
  color: black
}
#moon{

}
#sun{
  color: white;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}