:root{
  --background-dark: black;
  --background-light: white;
}
.body-dark{
  background-color: var(--background-dark);
  color: white;
}
.body-light{
  background-color: var(--background-light);
  color: black
}
